Repository alifsemi/hal_alif, changes with the owners that CODEOWNERS names for each.
All owners: @rajranjan-alifsemi, @RupeshKumar-AlifSemi, @AnttiKauppila-AlifSemi, @VeijoPesonen, @mikter, @jheiskan81, @sudhir-alifsemi

se_services: update to SE FW 106
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: ospi: update ll driver
  drivers/ospi/include/ospi.h
  drivers/ospi/src/ospi.c
Owners: none

drivers: ospi: Add support for PSRAM xip init
  drivers/ospi/include/ospi.h
  drivers/ospi/src/ospi.c
Owners: none

drivers: clock_control: remove hal dependency
  drivers/CMakeLists.txt
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/include/alif_clock_control.h
  drivers/clock_control/src/alif_clock_control.c
Owners: none

drivers: ospi: dfs macro declaration
  drivers/ospi/include/ospi_hal.h
Owners: none

drivers: ospi: added psram changes
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

soc_memory_map: rename ITCM and DTCM dts property
  common/include/soc_memory_map.h
Owners: none

drivers: event router: don't disable handshake always
  drivers/dma_event_router/src/dma_event_router.c
Owners: none

drivers: DMA event router configure
  drivers/dma_event_router/src/dma_event_router.c
Owners: none

se_services: Implement lazy initialization with automatic SE sync
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add PM notifier to invalidate SE state on suspend
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: pm: Remove PM driver
  CMakeLists.txt
  drivers/pm/CMakeLists.txt
  drivers/pm/rtss/pm_rtss.c
  drivers/pm/rtss/pm_rtss.h
Owners: none

drivers: add Analog HAL support
  drivers/CMakeLists.txt
  drivers/analog/CMakeLists.txt
  drivers/analog/include/analog_ctrl.h
  drivers/analog/src/analog_ctrl.c
Owners: none

drivers/se_services: fix SoC series Kconfig symbol names with Zephyr
  drivers/ospi/include/ospi.h
  drivers/ospi/src/ospi.c
  se_services/include/aipm.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

ble: 1_2: include: common: Fix BLE version definition
  ble/v1_2/include/common/co_version.h
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

se_service: zephyr: src: add se_service_update_stoc
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add run profile caching to optimize SE calls
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Fix race conditions in response data handling
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

common: restrict SystemInit/NS setup for RTSS cores
  common/CMakeLists.txt
Owners: none

ci: Add gitlint configuration
  .gitlint
  scripts/gitlint/rules.py
Owners: none

gitignore: update the list
  .gitignore
Owners: none

linker: Remove BLE ROM v1.0 support
  lc3/CMakeLists.txt
  lc3/lc3_patch_info.ld
  lc3/lc3_patch_ramable.ld
  lc3/v1_0/CMakeLists.txt
  lc3/v1_0/include/alif_lc3.h
  lc3/v1_0/include/lc3_api.h
  lc3/v1_0/rom_codec.patch.elf
  lc3/v1_0/rom_symbols_lc3.lds
  lc3/zephyr/Kconfig
  linker_add_rom_symbols.ld
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

common: Alif PM linkkayer config update
  common/zephyr/Kconfig
Owners: none

se_services: Update to v0.50.9 for SE FW 1.109 compatibility
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

lc3: Remove LC3 codec patching support
  lc3/v1_2/include/alif_lc3.h
  lc3/zephyr/Kconfig
  zephyr/Kconfig
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

se_services: Update ES0 start arguments
  common/src/es0_power_manager.c
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Update ES0 start arguments
  common/src/es0_power_manager.c
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

ble: Fix the BLE patching mechanism to work
  ble/plf/alif_ble.c
  ble/v1_2/include/plf/ble/ble_api.h
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: Fix the BLE patching mechanism to work
  ble/plf/alif_ble.c
  ble/v1_2/include/plf/ble/ble_api.h
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

se_services: aipm: Fix incorrect bit masking for SRAM4/SRAM5 blocks
  se_services/include/aipm.h
Owners: @sudhir-alifsemi

se_services: aipm: Fix incorrect bit masking for SRAM4/SRAM5 memory blocks
  se_services/include/aipm.h
Owners: @sudhir-alifsemi

service_lib: fix MHU messaging wait when PM is enabled
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

alif,ble: implement temporary workaround to ES0 wakeup
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

service_lib: fix MHU messaging wait when PM is enabled
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

alif,ble: implement temporary workaround to ES0 wakeup
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

se_services: aipm: Fix incorrect bit masking for SRAM4/SRAM5 blocks
  se_services/include/aipm.h
Owners: @sudhir-alifsemi

se_services: Add SERVICE_APPLICATION_VERIFY_IMAGE_ID
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

se_services: aipm: Fix incorrect bit masking for SRAM4/SRAM5 memory blocks
  se_services/include/aipm.h
Owners: @sudhir-alifsemi

se_services: Add SERVICE_APPLICATION_VERIFY_IMAGE_ID
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

se_services: Update ES0 start arguments
  common/src/es0_power_manager.c
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
#
/automation/                       @rajranjan-alifsemi
/.checkpatch.conf/                 @rajranjan-alifsemi
/driver/include/                   @RupeshKumar-AlifSemi
/ble/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/lc3/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/ieee802154/                       @mikter @jheiskan81
/se_services/                      @sudhir-alifsemi
LICENSE                            @RupeshKumar-AlifSemi
