Repository alifsemi/hal_alif, changes with the owners that CODEOWNERS names for each.
All owners: @rajranjan-alifsemi, @RupeshKumar-AlifSemi, @AnttiKauppila-AlifSemi, @VeijoPesonen, @mikter, @jheiskan81, @sudhir-alifsemi

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
#
/automation/                       @rajranjan-alifsemi
/.checkpatch.conf/                 @rajranjan-alifsemi
/driver/include/                   @RupeshKumar-AlifSemi
/ble/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/lc3/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/ieee802154/                       @mikter @jheiskan81
/se_services/                      @sudhir-alifsemi
LICENSE                            @RupeshKumar-AlifSemi

se_service: add DTS-driven SE off profile
  se_services/zephyr/Kconfig
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: update to SE FW 110
  se_services/include/services_lib_api.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

drivers: add verisilicon's jpeg library
  drivers/CMakeLists.txt
  drivers/jpeg/CMakeLists.txt
  drivers/jpeg/Kconfig
  drivers/jpeg/Lib/libjpeg_hantro_sw_armclang.a
  drivers/jpeg/Lib/libjpeg_hantro_sw_gcc.a
  drivers/jpeg/Lib/libjpeg_hantro_sw_llvm.a
  drivers/jpeg/README.md
  drivers/jpeg/inc/jpeg_hantro_vc9000e_sw.h
  zephyr/Kconfig
Owners: none

se_service: Add API to enable power domain
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

hal: drivers: isp: Add support for AE
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_ae.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_awb.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_calib.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
  scripts/checkpatch/typedefsfile
Owners: none

hal: drivers: isp: Add support for AE
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_ae.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_awb.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_calib.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
  scripts/checkpatch/typedefsfile
Owners: none

hal: drivers: isp: Fix first green frame for NV12 format
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

se_service: Add API to enable power domain
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: ospi: hal: add HyperBus Initialization
  drivers/ospi/include/ospi.h
  drivers/ospi/src/ospi.c
Owners: none

drivers: add verisilicon's jpeg library
  drivers/CMakeLists.txt
  drivers/jpeg/CMakeLists.txt
  drivers/jpeg/Kconfig
  drivers/jpeg/Lib/libjpeg_hantro_sw_armclang.a
  drivers/jpeg/Lib/libjpeg_hantro_sw_gcc.a
  drivers/jpeg/Lib/libjpeg_hantro_sw_llvm.a
  drivers/jpeg/README.md
  drivers/jpeg/inc/jpeg_hantro_vc9000e_sw.h
  zephyr/Kconfig
Owners: none

drivers: isp: Add support for updating ISP config parameters
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add support for updating ISP config parameters
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: ISP log level adjustment and Programmable logging
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/lib/vsios_log.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: ISP log level adjustment and Programmable logging
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/lib/vsios_log.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add AE isStable flag support
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_ae.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add AE isStable flag support
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_ae.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Fix AWB Auto mode initialization
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

ble: v1_2: Patch update to include Battery Service features.
  ble/v1_2/rom_ble_stack.patch.elf
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: v1_2: Patch update to include Battery Service features.
  ble/v1_2/rom_ble_stack.patch.elf
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: Host Rom patch update
  ble/v1_2/rom_ble_stack.patch.elf
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: Host Rom patch update
  ble/v1_2/rom_ble_stack.patch.elf
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: isp: Add support for Binning in ISP
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

common: Add setter for HPA mode for RF
  common/include/es0_power_manager.h
  common/src/es0_power_manager.c
Owners: none

se_services: zephyr: Add API se_service_boot_cpu
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

common: Add setter for HPA mode for RF
  common/include/es0_power_manager.h
  common/src/es0_power_manager.c
Owners: none

common: Set default values for B1 DK LPA mode
  common/zephyr/Kconfig
Owners: none

common: Set default values for B1 DK LPA mode
  common/zephyr/Kconfig
Owners: none

automation: Small cleanup for groovy
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

automation: Small cleanup for groovy
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

se_services: zephyr: Add API se_service_boot_cpu
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

ble/lc3: allow the ROM API to be supplied by another module
  ble/CMakeLists.txt
  lc3/CMakeLists.txt
  linker_add_rom_symbols.ld
  zephyr/Kconfig
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: isp: Fix Picture size violation issue for Grey format
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

ble/lc3: allow the ROM API to be supplied by another module
  ble/CMakeLists.txt
  lc3/CMakeLists.txt
  linker_add_rom_symbols.ld
  zephyr/Kconfig
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: isp: Fix crop offset axis swap in outFormRect
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add sensor-specific ISP config parameters
  drivers/isp/CMakeLists.txt
  drivers/isp/Kconfig
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/arx3a0_isp_param_conf.c
  drivers/isp/isp_wrapper/src/arx3a0_sensor_attributes.c
  drivers/isp/isp_wrapper/src/ov5675_isp_param_conf.c
  drivers/isp/isp_wrapper/src/ov5675_sensor_attributes.c
Owners: none

drivers: isp: Fix parameters for updating exposure and gain of sensor
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: analog: include: Update LDO and bandgap calibration values
  drivers/analog/include/analog_ctrl.h
Owners: none

drivers: ethos_u: build cache callbacks only on Cortex-M
  drivers/ethos_u/CMakeLists.txt
Owners: none

drivers: isp: Add support for Binning in ISP
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Fix Picture size violation issue for Grey format
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none
