Repository alifsemi/hal_alif, changes with the owners that CODEOWNERS names for each.
All owners: @rajranjan-alifsemi, @RupeshKumar-AlifSemi, @AnttiKauppila-AlifSemi, @VeijoPesonen, @mikter, @jheiskan81, @sudhir-alifsemi

common: Add TX power limit support
  common/src/es0_power_manager.c
  common/zephyr/Kconfig
Owners: none

common: Add TX power limit support
  common/src/es0_power_manager.c
  common/zephyr/Kconfig
Owners: none

se_services: update to SE FW 106
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Implement lazy initialization with automatic SE sync
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add PM notifier to invalidate SE state on suspend
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: zephyr: src: add se_service_update_stoc
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add run profile caching to optimize SE calls
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Fix race conditions in response data handling
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Update to v0.50.9 for SE FW 1.109 compatibility
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Implement lazy initialization with automatic SE sync
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add PM notifier to invalidate SE state on suspend
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

common: Add TX power limit support
  common/src/es0_power_manager.c
  common/zephyr/Kconfig
Owners: none

se_services: Update to v0.50.9 for SE FW 1.109 compatibility
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Add run profile caching to optimize SE calls
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: zephyr: src: add se_service_update_stoc
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Fix race conditions in response data handling
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Update ES0 start arguments
  common/src/es0_power_manager.c
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: update to SE FW 106
  se_services/include/aipm.h
  se_services/include/services_lib_api.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

common: Add TX power limit support
  common/src/es0_power_manager.c
  common/zephyr/Kconfig
Owners: none

service_lib: fix MHU messaging wait when PM is enabled
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

alif,ble: implement temporary workaround to ES0 wakeup
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ieee802154: Mac timestamp get update
  ieee802154/src/alif_mac154_api.c
Owners: @mikter, @jheiskan81

ieee802154: Mac timestamp get update
  ieee802154/src/alif_mac154_api.c
Owners: @mikter, @jheiskan81

hal: drivers: isp: Add ISP driver HAL support.
  drivers/CMakeLists.txt
  drivers/isp/CMakeLists.txt
  drivers/isp/Kconfig
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/isp_conf.h
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_binning.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_bls.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_calib.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_ccm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_csm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_dmsc.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_expm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_flt.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_gamma_out.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_scale.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_wb.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_wbm.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_ae.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_awb.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_calib.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_isp.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_sns.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_video.h
  drivers/isp/isp_wrapper/inc/lib/vsios_error.h
  drivers/isp/isp_wrapper/inc/lib/vsios_isp.h
  drivers/isp/isp_wrapper/inc/lib/vsios_log.h
  drivers/isp/isp_wrapper/inc/lib/vsios_sys.h
  drivers/isp/isp_wrapper/inc/lib/vsios_type.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
  zephyr/Kconfig
Owners: none

hal: drivers: isp: Add ISP driver HAL support.
  drivers/CMakeLists.txt
  drivers/isp/CMakeLists.txt
  drivers/isp/Kconfig
  drivers/isp/isp_wrapper/Lib/libisp_gcc.a
  drivers/isp/isp_wrapper/inc/isp_conf.h
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_binning.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_bls.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_calib.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_ccm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_csm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_dmsc.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_expm.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_flt.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_gamma_out.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_scale.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_wb.h
  drivers/isp/isp_wrapper/inc/lib/mpi_isp_wbm.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_ae.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_awb.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_calib.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_isp.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_sns.h
  drivers/isp/isp_wrapper/inc/lib/vsi_comm_video.h
  drivers/isp/isp_wrapper/inc/lib/vsios_error.h
  drivers/isp/isp_wrapper/inc/lib/vsios_isp.h
  drivers/isp/isp_wrapper/inc/lib/vsios_log.h
  drivers/isp/isp_wrapper/inc/lib/vsios_sys.h
  drivers/isp/isp_wrapper/inc/lib/vsios_type.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
  zephyr/Kconfig
Owners: none

alif,ble: implement temporary workaround to ES0 wakeup
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

service_lib: fix MHU messaging wait when PM is enabled
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

ble: plf: fix sync timer callback func init
  ble/plf/alif_ble.c
  ble/plf/sync_timer.c
  ble/plf/sync_timer.h
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: plf: fix sync timer callback func init
  ble/plf/alif_ble.c
  ble/plf/sync_timer.c
  ble/plf/sync_timer.h
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: ethos_u: Cache handling improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

drivers: ethos_u: performance improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

drivers: ethos_u: performance improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

common: es0 power manager warning fix
  common/src/es0_power_manager.c
Owners: none

common: es0 power manager warning fix
  common/src/es0_power_manager.c
Owners: none

drivers: ethos_u: performance improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

drivers: ethos_u: performance improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

drivers: ethos_u: performance improvements
  drivers/ethos_u/src/ethosu_callback.c
Owners: none

ble: plf: Fix sync timer handling
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: plf: Fix sync timer handling
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: ospi: adding ddr instruction config
  drivers/ospi/include/ospi.h
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
#
/automation/                       @rajranjan-alifsemi
/.checkpatch.conf/                 @rajranjan-alifsemi
/driver/include/                   @RupeshKumar-AlifSemi
/ble/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/lc3/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/ieee802154/                       @mikter @jheiskan81
/se_services/                      @sudhir-alifsemi
LICENSE                            @RupeshKumar-AlifSemi
