Repository alifsemi/hal_alif, changes with the owners that CODEOWNERS names for each.
All owners: @rajranjan-alifsemi, @RupeshKumar-AlifSemi, @AnttiKauppila-AlifSemi, @VeijoPesonen, @mikter, @jheiskan81, @sudhir-alifsemi

drivers: isp: Fix AWB Auto mode initialization
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Fix AWB Auto mode initialization
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add support for Binning in ISP
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add sensor-specific ISP config parameters
  drivers/isp/CMakeLists.txt
  drivers/isp/Kconfig
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/arx3a0_isp_param_conf.c
  drivers/isp/isp_wrapper/src/arx3a0_sensor_attributes.c
  drivers/isp/isp_wrapper/src/mt9m114_isp_param_conf.c
  drivers/isp/isp_wrapper/src/mt9m114_sensor_attributes.c
  drivers/isp/isp_wrapper/src/ov5675_isp_param_conf.c
  drivers/isp/isp_wrapper/src/ov5675_sensor_attributes.c
Owners: none

drivers: isp: Fix parameters for updating exposure and gain of sensor
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Add sensor-specific ISP config parameters
  drivers/isp/CMakeLists.txt
  drivers/isp/Kconfig
  drivers/isp/isp_wrapper/inc/isp_param_conf.h
  drivers/isp/isp_wrapper/inc/sensor_attributes.h
  drivers/isp/isp_wrapper/src/arx3a0_isp_param_conf.c
  drivers/isp/isp_wrapper/src/arx3a0_sensor_attributes.c
  drivers/isp/isp_wrapper/src/mt9m114_isp_param_conf.c
  drivers/isp/isp_wrapper/src/mt9m114_sensor_attributes.c
  drivers/isp/isp_wrapper/src/ov5675_isp_param_conf.c
  drivers/isp/isp_wrapper/src/ov5675_sensor_attributes.c
Owners: none

drivers: isp: Fix parameters for updating exposure and gain of sensor
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: analog: Update LDO and bandgap calibration values for ADC
  drivers/analog/include/analog_ctrl.h
Owners: none

drivers: isp: Fix crop offset axis swap in outFormRect
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: isp: Fix Picture size violation issue for Grey format
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

drivers: ethos_u: build cache callbacks only on Cortex-M
  drivers/ethos_u/CMakeLists.txt
Owners: none

common: Add APSS support to SoC memory map and includes
  common/CMakeLists.txt
  common/include/soc_memory_map.h
Owners: none

se_services: zephyr: Add API for LPCMP configuration
  se_services/include/aipm.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: zephyr: Add API for LPCMP configuration
  se_services/include/aipm.h
  se_services/include/services_lib_ids.h
  se_services/include/services_lib_protocol.h
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: align SE comm buffer to cache line
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

clang-format: sync with upstream Zephyr v4.4.0
  .clang-format
Owners: none

clang-format: sync with upstream Zephyr v4.4.0
  .clang-format
Owners: none

drivers: analog: include: Update LDO and bandgap calibration values
  drivers/analog/include/analog_ctrl.h
Owners: none

drivers: analog: include: Update LDO and bandgap calibration values
  drivers/analog/include/analog_ctrl.h
Owners: none

common: Add APSS support to SoC memory map and includes
  common/CMakeLists.txt
  common/include/soc_memory_map.h
Owners: none

se_services: align SE comm buffer to cache line
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: always re-enable Rx MHU IRQ after polling transfer
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: zephyr: lock PM states while waiting on SE response
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: zephyr: Add se_service_clock_setting_get API
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: analog: include: add missing bandgap field mask
  drivers/analog/include/analog_ctrl.h
Owners: none

drivers: analog: include: add missing bandgap field mask
  drivers/analog/include/analog_ctrl.h
Owners: none

se_services: zephyr: Add se_service_clock_setting_get API
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: always re-enable Rx MHU IRQ after polling transfer
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: zephyr: lock PM states while waiting on SE response
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

common: TGU fix
  common/src/tgu.c
Owners: none

drivers: utimer: add HAL helpers for shared clock/running checks
  drivers/utimer/include/utimer.h
  drivers/utimer/src/utimer.c
Owners: none

drivers: utimer: add HAL helpers for shared clock/running checks
  drivers/utimer/include/utimer.h
  drivers/utimer/src/utimer.c
Owners: none

common: TGU fix
  common/src/tgu.c
Owners: none

ble: Make sync_timer configurable
  ble/plf/alif_ble.c
  ble/zephyr/Kconfig
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

drivers: ospi: add DDR instruction support for XIP
  drivers/ospi/include/ospi.h
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

drivers: isp: Fix undefined reference to log_level
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

github: Add PR template
  .github/pull_request_template.md
Owners: none

github: Add PR template
  .github/pull_request_template.md
Owners: none

drivers: ospi: add DDR instruction support for XIP
  drivers/ospi/include/ospi.h
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

common: global to local
  common/include/soc_memory_map.h
Owners: none

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
#
/automation/                       @rajranjan-alifsemi
/.checkpatch.conf/                 @rajranjan-alifsemi
/driver/include/                   @RupeshKumar-AlifSemi
/ble/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/lc3/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/ieee802154/                       @mikter @jheiskan81
/se_services/                      @sudhir-alifsemi
LICENSE                            @RupeshKumar-AlifSemi
