Repository alifsemi/hal_alif, changes with the owners that CODEOWNERS names for each.
All owners: @rajranjan-alifsemi, @RupeshKumar-AlifSemi, @AnttiKauppila-AlifSemi, @VeijoPesonen, @mikter, @jheiskan81, @sudhir-alifsemi

se_service: Add HPA selection as runtime option
  common/include/es0_power_manager.h
  common/src/es0_power_manager.c
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: Add HPA selection as runtime option
  common/include/es0_power_manager.h
  common/src/es0_power_manager.c
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

ble: plf: workaround to sync timer start
  ble/plf/sync_timer.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: plf: workaround to sync timer start
  ble/plf/sync_timer.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

Added implementation to SE API SERVICES_clocks_set_divider
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

Added implementation to SE API SERVICES_clocks_set_divider
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: fix mutex lock to correct place
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: fix mutex lock to correct place
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Remove parts of unimplemented services
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: fix returned error codes
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: improve documentation
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: fix potential data corruption
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: misc fixes
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: fix potential data corruption
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: fix returned error codes
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: misc fixes
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: Remove parts of unimplemented services
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: improve documentation
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: ospi: adding ddr instruction config
  drivers/ospi/include/ospi.h
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

drivers: ospi: add hexspi support
  drivers/ospi/include/ospi.h
  drivers/ospi/src/ospi.c
Owners: none

drivers: ospi: adding ddr instruction config
  drivers/ospi/include/ospi.h
  drivers/ospi/include/ospi_hal.h
  drivers/ospi/src/ospi.c
  drivers/ospi/src/ospi_hal.c
Owners: none

ble: plf: add benchmarking weak hooks
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: plf: allow ES0 to sleep at runtime
  ble/plf/hci_uart.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

ble: plf: move ES0 sleep control under config flags
  ble/plf/hci_uart.c
  ble/zephyr/Kconfig
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

automation: Pr check for hal alif
  automation/Jenkinsfile_Pr
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

automation: pr fix for main
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

automation: fic for pr check
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

automation: New fix for main
  automation/ble_samples.groovy
Owners: @rajranjan-alifsemi

se_services: Add support for process_toc_entry
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_services: zephyr: service: add otp read support
  se_services/zephyr/include/se_service.h
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

drivers: dma_event_router: remove legacy driver
  drivers/CMakeLists.txt
  drivers/dma_event_router/CMakeLists.txt
  drivers/dma_event_router/include/dma_event_router.h
  drivers/dma_event_router/src/dma_event_router.c
Owners: none

ble: plf: remove DEINITIALISED_MAGIC
  ble/plf/alif_ble.c
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

common: Update clock drift for BLE
  common/zephyr/Kconfig
Owners: none

ble: Add BLE host patch
  ble/v1_2/CMakeLists.txt
  ble/v1_2/rom_ble_stack.patch.elf
Owners: @AnttiKauppila-AlifSemi, @VeijoPesonen

se_service: apply run profile from DTS at boot and resume
  se_services/zephyr/Kconfig
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

se_service: add DTS-driven SE off profile
  se_services/zephyr/Kconfig
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

hal: drivers: isp: Fix first green frame for NV12 format
  drivers/isp/isp_wrapper/src/isp_api_wrapper.c
Owners: none

common: Add BLE edge channel limit configuration
  common/src/es0_power_manager.c
  common/zephyr/Kconfig
Owners: none

se_services: update to SE FW 110
  se_services/include/services_lib_api.h
  se_services/include/services_lib_protocol.h
Owners: @sudhir-alifsemi

se_service: apply run profile from DTS at boot and resume
  se_services/zephyr/Kconfig
  se_services/zephyr/src/se_service.c
Owners: @sudhir-alifsemi

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github
#
/automation/                       @rajranjan-alifsemi
/.checkpatch.conf/                 @rajranjan-alifsemi
/driver/include/                   @RupeshKumar-AlifSemi
/ble/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/lc3/                              @AnttiKauppila-AlifSemi @VeijoPesonen
/ieee802154/                       @mikter @jheiskan81
/se_services/                      @sudhir-alifsemi
LICENSE                            @RupeshKumar-AlifSemi
